/* Font weight belongs on top */
* {
 font-weight: 200;
}

/* Font family */
@font-face {
 font-family: GothamRoundBook;
 src: url(fonts/GothamRnd-Book.otf);
}

/* Navigation Bar */
.navbar-header {
 float: right;
}

/* Responsive image feature */
.img-responsive {
 display: block;
 max-width: 100%;
 height: auto;
}

/* Jumbotron is for default heading on linked pages */
.jumbotron { 
 background-image: url("img/homepage2.jpg"); 
}

.jumbotron h1 { 
 color: white; 
 text-align: center; 
}

.jumbotron strong {
 color: white; 
}

.jumbotron p { 
 color: white; 
}

/* First line of editable text on hero image background */
.brandname-text { 
 text-align: center;
 font-family: 'Raleway', sans-serif;
 font-size: 3.929em;
 padding-top: 1em;
}

/* Heading of each section i.e About, Contact, FAQ */
h1 {
 text-align: center;
 font-family: 'Raleway', sans-serif;
 font-size: 3.929em;
 padding-top: 1em;
}

/* Positiong of hero image background and h1 */
.carousel-caption { 
 color: white; 
 padding-bottom: 2em;
}

.carousel-inner h1 {
 position: relative;
 top: -250px;
 right: 10px;
 font-family: 'Raleway', sans-serif;
 font-size: 55px;
}

/* Body and paragraph text */
body {
 position: relative;
 padding-top: 3.571em;
 padding-bottom: 1.429em;
 background-color: #ffffff;
 color: #000000;
 font-family: 'Open Sans', sans-serif;
}
 
p {
 font-family: 'Open Sans', sans-serif;
 font-size: 1.071em;
 line-height: 1.429em;
}

/* Columns of the 3 description boxes */ 
.col-md-4 {
 padding-top: 2em;
}

/* Download box area */
.download-box { 
 padding-top: 0.357em; 
 margin-top: 2.143em; 
 margin bottom: 2.143em; 
 background-image: url("img/compass.jpeg"); 
 background-position: 90% 40%; 
}

.col-centered {
 float: none;
 margin: auto;
}

.download-box h1 { 
 text-align: center; 
 font-size: 2.5em; 
 color: white; 
}

.download-box section { 
 text-align: center; 
 font-size: 1.143em; 
 color: white;
}

.download-box p { 
 text-align: center; 
 margin-top: 0.714em; 
 padding: 0.714em; 
 color: white; 
}

/* Modal window positioning */
iframe { 
 padding: 0;
 margin: auto;
}

.modal-body {
 height: 35.714em;
}

#modalframe {
 padding: 0.714em;
 width: 100%;
 height: 100%;
}

/* Text color inside modal window */
h4 {
 color: black;
} 

/* About area begins */
#aboutpage { 
 padding: 2.5em; 
 margin: 1em; 
 width: auto;
 display: block; 
}

/* About area text */
.lead { 
 padding-top: 0.5em; 
}

/* Contact area begins */
#contact {
 background-image: url("img/contactbackground1.jpg");
 background-attachment: fixed;
 background-size: cover;
 color: white;
 padding: 1em;
 padding-bottom: 2em;
 height: 34.143em;
 background-position: 50% 20%; 
}

/* Google Maps */
#map-canvas {
 height: 130px;
 width: 240px;
 padding: 2em;
 float: right;
 text-align: center;
}

/* Contact area text */
address {
 color: #ffffff;
 float: right;
 padding: 2em;
 text-align: center;
}

/* Form positioning begins */
form { 
 display: block; 
}

.form-group { 
 color: black; 
}

.form-control { 
 width: 25%; 
}

/* FAQ area begins */
#faq { 
 color: black;
 padding: 1em;
 margin: 2em;
}

/* Zebra-striped table */
table {
 width: 100%;
 padding-bottom: 2em;
}

table, td, th {
 border: 1px solid black;
}

th {
 height: 3.571em;
 text-align: center;
}

td {
 padding: .5em;
 height: .5em;
 text-align: center;
}

/* 4 blocks of photos */
.image {
 box-sizing: border-box;
 border: 2px solid pink;
 width: 200px;
 height: 200px;
 margin: 5px;
 display: inline-block;
 position: relative;
}

.info {
 display: inline-block;
 color: #fff;
 font-family: Futura;
 text-transform: uppercase;
 font-weight: 700;
 letter-spacing: 0.5em;
 line-height: 1.6;
 position: absolute;
 top: 15%;
 left: 22%;
}

.proj-title {
 font-weight: 100;
}

/* Column boxes for FAQ section */
#accordion {
 padding-top: 4em;
}

.panel-body {
 color: black; 
 font-family: 'Open Sans', sans-serif;
}

/* Twitter icon positioning */
.twitter { 
 float: left; 
}

